USE [master]
GO
/****** Object:  Database [BStoreDB]    Script Date: 5/30/2020 5:56:35 AM ******/
CREATE DATABASE [BStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BStoreDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BStoreDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BStoreDB]
GO
/****** Object:  Table [dbo].[BookList]    Script Date: 5/30/2020 5:56:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BookList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [varchar](50) NULL,
	[ISBN] [varchar](13) NULL,
	[Author] [varchar](50) NULL,
	[Price] [float] NULL,
	[Edition] [varchar](5) NULL,
 CONSTRAINT [PK_BookList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BookList] ON 

INSERT [dbo].[BookList] ([ID], [BookName], [ISBN], [Author], [Price], [Edition]) VALUES (1, N'Becoming', N'9781524763138', N'Michelle Obama', 17.95, N'1st')
INSERT [dbo].[BookList] ([ID], [BookName], [ISBN], [Author], [Price], [Edition]) VALUES (7, N'Magnolia Table', N'9780062820150', N'Joanna Gaines', 18.27, N'1st')
INSERT [dbo].[BookList] ([ID], [BookName], [ISBN], [Author], [Price], [Edition]) VALUES (8, N'Girl, Wash Your Face', N'9781400201655', N'Rachel Hollis', 13.49, N'1st')
SET IDENTITY_INSERT [dbo].[BookList] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_BookList]    Script Date: 5/30/2020 5:56:35 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BookList] ON [dbo].[BookList]
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
