USE [master]
GO
/****** Object:  Database [CityInformationDB]    Script Date: 5/30/2020 5:58:22 AM ******/
CREATE DATABASE [CityInformationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CityInformationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CityInformationDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CityInformationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CityInformationDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CityInformationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CityInformationDB]
GO
/****** Object:  Table [dbo].[City]    Script Date: 5/30/2020 5:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NULL,
	[About] [varchar](500) NULL,
	[Country] [varchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [CityName], [About], [Country]) VALUES (1, N'Dhaka', N'The Capital of Bangladesh', N'Bangladesh')
INSERT [dbo].[City] ([ID], [CityName], [About], [Country]) VALUES (2, N'Chittagong', N'Commercial Capital of Bangladesh', N'Bangladesh')
INSERT [dbo].[City] ([ID], [CityName], [About], [Country]) VALUES (3, N'Dubai', N'The city of Business', N'Abu Dhabi')
SET IDENTITY_INSERT [dbo].[City] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_City]    Script Date: 5/30/2020 5:58:22 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_City] ON [dbo].[City]
(
	[CityName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
