USE [master]
GO
/****** Object:  Database [LibraryDBSelfPractice]    Script Date: 5/30/2020 6:00:41 AM ******/
CREATE DATABASE [LibraryDBSelfPractice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryDBSelfPractice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LibraryDBSelfPractice.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LibraryDBSelfPractice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LibraryDBSelfPractice_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryDBSelfPractice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryDBSelfPractice]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 5/30/2020 6:00:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Author] [varchar](50) NULL,
	[ISBN] [varchar](13) NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [Name], [Author], [ISBN]) VALUES (5, N'Rupom', N'Rupom Chy', N'1234567890123')
INSERT [dbo].[Book] ([Id], [Name], [Author], [ISBN]) VALUES (7, N'Anifa', N'Anam Chy', N'1234567890124')
INSERT [dbo].[Book] ([Id], [Name], [Author], [ISBN]) VALUES (8, N'Hasan', N'Forhad', N'0123456789123')
SET IDENTITY_INSERT [dbo].[Book] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Book]    Script Date: 5/30/2020 6:00:42 AM ******/
ALTER TABLE [dbo].[Book] ADD  CONSTRAINT [IX_Book] UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
