USE [master]
GO
/****** Object:  Database [SelfPracticeCityDB]    Script Date: 5/30/2020 6:03:27 AM ******/
CREATE DATABASE [SelfPracticeCityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SelfPracticeCityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SelfPracticeCityDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SelfPracticeCityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SelfPracticeCityDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SelfPracticeCityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SelfPracticeCityDB]
GO
/****** Object:  Table [dbo].[City]    Script Date: 5/30/2020 6:03:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[About] [varchar](500) NULL,
	[Country] [varchar](50) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Name], [About], [Country]) VALUES (1, N'Chittagong', N'beautiful city in Bangladesh', N'Bangladesh')
SET IDENTITY_INSERT [dbo].[City] OFF
USE [master]
GO
